openapi: 3.0.3
info:
  title: Moyasar API
  description: >-
    Moyasar is a Saudi Arabian payment gateway. Its REST API lets businesses
    accept online payments across mada, Visa, Mastercard, American Express,
    Apple Pay, Samsung Pay, and STC Pay, issue hosted invoices, tokenize cards,
    receive webhooks, and send payouts. All requests are made over HTTPS to
    https://api.moyasar.com/v1 and authenticated with HTTP Basic auth using an
    API key as the username and an empty password. Publishable keys
    (pk_test_ / pk_live_) may only create payments and tokens from the client
    side; secret keys (sk_test_ / sk_live_) authorize all account operations
    from the backend. Monetary amounts are expressed in the smallest currency
    unit (for SAR, halalas: 1.00 SAR = 100).

    This description captures a representative, grounded subset of the documented
    API. Request and response schemas are modeled from the public documentation
    and are intentionally partial (additionalProperties allowed); consult the
    Moyasar docs for exhaustive field-level detail.
  version: '1.0'
  contact:
    name: Moyasar
    url: https://moyasar.com
  license:
    name: Proprietary
    url: https://moyasar.com/en/terms/
servers:
  - url: https://api.moyasar.com/v1
    description: Moyasar production API
security:
  - basicAuth: []
tags:
  - name: Payments
    description: Create and manage card and wallet payments.
  - name: Invoices
    description: Hosted invoices with a Moyasar-hosted checkout URL.
  - name: Tokens
    description: Client-side card tokenization using a publishable key.
  - name: Webhooks
    description: Server-to-server event notifications over HTTP POST.
  - name: Payouts
    description: Payout accounts and payouts / disbursements.
paths:
  /payments:
    get:
      operationId: listPayments
      tags:
        - Payments
      summary: List payments
      description: Lists payments on the account with filtering and pagination.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - initiated
              - paid
              - authorized
              - failed
              - refunded
              - captured
              - voided
              - verified
        - name: created[gt]
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: created[lt]
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: card_last_digits
          in: query
          required: false
          schema:
            type: string
        - name: receipt_no
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of payments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPayment
      tags:
        - Payments
      summary: Create a payment
      description: >-
        Creates a payment. Can be called with a publishable key from the client
        side or a secret key from the backend. The `source` object selects the
        payment method (creditcard, token, applepay, samsungpay, stcpay).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInput'
      responses:
        '201':
          description: The created payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payments/{id}:
    parameters:
      - $ref: '#/components/parameters/PaymentId'
    get:
      operationId: fetchPayment
      tags:
        - Payments
      summary: Fetch a payment
      description: Retrieves a single payment by its ID.
      responses:
        '200':
          description: The requested payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{id}/refund:
    parameters:
      - $ref: '#/components/parameters/PaymentId'
    post:
      operationId: refundPayment
      tags:
        - Payments
      summary: Refund a payment
      description: >-
        Refunds a paid payment in full or in part. Omit `amount` for a full
        refund.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: Amount to refund in the smallest currency unit. Full refund if omitted.
      responses:
        '200':
          description: The refunded payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{id}/capture:
    parameters:
      - $ref: '#/components/parameters/PaymentId'
    post:
      operationId: capturePayment
      tags:
        - Payments
      summary: Capture a payment
      description: >-
        Captures an authorized payment, in full or in part. Omit `amount` to
        capture the full authorized amount.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: Amount to capture in the smallest currency unit. Full capture if omitted.
      responses:
        '200':
          description: The captured payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{id}/void:
    parameters:
      - $ref: '#/components/parameters/PaymentId'
    post:
      operationId: voidPayment
      tags:
        - Payments
      summary: Void a payment
      description: Voids an authorized payment that has not yet been captured.
      responses:
        '200':
          description: The voided payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices:
    get:
      operationId: listInvoices
      tags:
        - Invoices
      summary: List invoices
      description: Lists invoices on the account with pagination.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: A paginated list of invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createInvoice
      tags:
        - Invoices
      summary: Create an invoice
      description: >-
        Creates a hosted invoice and returns a Moyasar-hosted checkout `url` to
        present to the payer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceInput'
      responses:
        '201':
          description: The created invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /invoices/bulk:
    post:
      operationId: createInvoicesBulk
      tags:
        - Invoices
      summary: Bulk create invoices
      description: Creates multiple invoices in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoices:
                  type: array
                  items:
                    $ref: '#/components/schemas/InvoiceInput'
      responses:
        '201':
          description: The created invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /invoices/{id}:
    parameters:
      - $ref: '#/components/parameters/InvoiceId'
    get:
      operationId: fetchInvoice
      tags:
        - Invoices
      summary: Fetch an invoice
      description: Retrieves a single invoice by its ID.
      responses:
        '200':
          description: The requested invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateInvoice
      tags:
        - Invoices
      summary: Update an invoice
      description: Updates an existing invoice.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceInput'
      responses:
        '200':
          description: The updated invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: cancelInvoice
      tags:
        - Invoices
      summary: Cancel an invoice
      description: Cancels an invoice so it can no longer be paid.
      responses:
        '200':
          description: The canceled invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /tokens:
    post:
      operationId: createToken
      tags:
        - Tokens
      summary: Create a token
      description: >-
        Tokenizes a mada / credit card. Intended to be called from the client
        side with a publishable key so raw card data never reaches the merchant
        backend. The resulting token id can be used as a payment source.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenInput'
      responses:
        '201':
          description: The created token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tokens/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The token ID.
        schema:
          type: string
    get:
      operationId: fetchToken
      tags:
        - Tokens
      summary: Fetch a token
      description: Retrieves a single token by its ID.
      responses:
        '200':
          description: The requested token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhooks:
    get:
      operationId: listWebhooks
      tags:
        - Webhooks
      summary: List webhooks
      description: Lists all registered webhooks.
      responses:
        '200':
          description: A list of webhooks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createWebhook
      tags:
        - Webhooks
      summary: Create a webhook
      description: >-
        Registers an HTTPS endpoint to receive event notifications. Omit
        `events` to subscribe to all current and future events.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '201':
          description: The created webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/{id}:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    get:
      operationId: fetchWebhook
      tags:
        - Webhooks
      summary: Fetch a webhook
      description: Retrieves a single webhook by its ID.
      responses:
        '200':
          description: The requested webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWebhook
      tags:
        - Webhooks
      summary: Delete a webhook
      description: Removes a registered webhook.
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /webhooks/{id}/attempts:
    parameters:
      - $ref: '#/components/parameters/WebhookId'
    get:
      operationId: listWebhookAttempts
      tags:
        - Webhooks
      summary: List webhook attempts
      description: Lists delivery attempts for a given webhook.
      responses:
        '200':
          description: A list of webhook delivery attempts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  attempts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhooks/available_events:
    get:
      operationId: listAvailableWebhookEvents
      tags:
        - Webhooks
      summary: List available webhook events
      description: Lists the event types available for webhook subscription.
      responses:
        '200':
          description: The available event types.
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payout_accounts:
    get:
      operationId: listPayoutAccounts
      tags:
        - Payouts
      summary: List payout accounts
      description: Lists registered payout accounts.
      responses:
        '200':
          description: A list of payout accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payout_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayoutAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPayoutAccount
      tags:
        - Payouts
      summary: Create a payout account
      description: Registers a bank or wallet payout account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutAccountInput'
      responses:
        '201':
          description: The created payout account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payout_accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The payout account ID.
        schema:
          type: string
          format: uuid
    get:
      operationId: fetchPayoutAccount
      tags:
        - Payouts
      summary: Fetch a payout account
      description: Retrieves a single payout account by its ID.
      responses:
        '200':
          description: The requested payout account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payouts:
    get:
      operationId: listPayouts
      tags:
        - Payouts
      summary: List payouts
      description: Lists payouts on the account.
      responses:
        '200':
          description: A list of payouts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payouts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPayout
      tags:
        - Payouts
      summary: Create a payout
      description: Sends a single payout / disbursement to a payout account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutInput'
      responses:
        '201':
          description: The created payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payouts/bulk:
    post:
      operationId: createPayoutsBulk
      tags:
        - Payouts
      summary: Bulk create payouts
      description: Sends multiple payouts in a single request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payouts:
                  type: array
                  items:
                    $ref: '#/components/schemas/PayoutInput'
      responses:
        '201':
          description: The created payouts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payouts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /payouts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The payout ID.
        schema:
          type: string
          format: uuid
    get:
      operationId: fetchPayout
      tags:
        - Payouts
      summary: Fetch a payout
      description: Retrieves a single payout by its ID.
      responses:
        '200':
          description: The requested payout.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payout'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication. Pass your API key as the username and leave
        the password empty (e.g. `-u sk_test_123:`). Publishable keys
        (pk_test_ / pk_live_) may only create payments and tokens; secret keys
        (sk_test_ / sk_live_) authorize all operations.
  parameters:
    PaymentId:
      name: id
      in: path
      required: true
      description: The payment UUID.
      schema:
        type: string
        format: uuid
    InvoiceId:
      name: id
      in: path
      required: true
      description: The invoice UUID.
      schema:
        type: string
        format: uuid
    WebhookId:
      name: id
      in: path
      required: true
      description: The webhook ID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Invalid or missing authorization credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
        errors:
          type: object
          additionalProperties: true
    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
        next_page:
          type: integer
          nullable: true
        prev_page:
          type: integer
          nullable: true
        total_pages:
          type: integer
        total_count:
          type: integer
    PaymentSource:
      type: object
      description: >-
        Payment source. The `type` field selects the method. Additional fields
        depend on the source type (card fields, token id, wallet token, etc.).
      properties:
        type:
          type: string
          enum:
            - creditcard
            - token
            - applepay
            - samsungpay
            - stcpay
        name:
          type: string
        number:
          type: string
        cvc:
          type: string
        month:
          type: string
        year:
          type: string
        token:
          type: string
      additionalProperties: true
    PaymentInput:
      type: object
      required:
        - amount
        - currency
        - source
      properties:
        amount:
          type: integer
          description: Positive amount in the smallest currency unit (halalas for SAR).
        currency:
          type: string
          description: ISO-4217 three-letter code (e.g. SAR).
          default: SAR
        source:
          $ref: '#/components/schemas/PaymentSource'
        description:
          type: string
        callback_url:
          type: string
          format: uri
          description: Required for creditcard and token sources.
        given_id:
          type: string
          description: Client-supplied UUID for idempotency.
        metadata:
          type: object
          additionalProperties: true
        splits:
          type: array
          items:
            type: object
            additionalProperties: true
    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - initiated
            - paid
            - authorized
            - failed
            - refunded
            - captured
            - voided
            - verified
        amount:
          type: integer
        fee:
          type: integer
        currency:
          type: string
        refunded:
          type: integer
        refunded_at:
          type: string
          format: date-time
          nullable: true
        captured:
          type: integer
        captured_at:
          type: string
          format: date-time
          nullable: true
        voided_at:
          type: string
          format: date-time
          nullable: true
        amount_format:
          type: string
        description:
          type: string
          nullable: true
        invoice_id:
          type: string
          nullable: true
        ip:
          type: string
          nullable: true
        callback_url:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
          nullable: true
          additionalProperties: true
        source:
          type: object
          additionalProperties: true
      additionalProperties: true
    InvoiceInput:
      type: object
      required:
        - amount
        - currency
        - description
      properties:
        amount:
          type: integer
          description: Amount in the smallest currency unit (minimum 100).
        currency:
          type: string
          default: SAR
        description:
          type: string
        callback_url:
          type: string
          format: uri
        success_url:
          type: string
          format: uri
        back_url:
          type: string
          format: uri
        expired_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - initiated
            - paid
            - failed
            - refunded
            - canceled
            - on_hold
            - expired
            - voided
        amount:
          type: integer
        amount_format:
          type: string
        currency:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
          description: Hosted checkout URL to present to the payer.
        expired_at:
          type: string
          format: date-time
          nullable: true
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
          nullable: true
          additionalProperties: true
      additionalProperties: true
    TokenInput:
      type: object
      required:
        - name
        - number
        - month
        - year
        - cvc
      properties:
        name:
          type: string
        number:
          type: string
        month:
          type: string
        year:
          type: string
        cvc:
          type: string
        callback_url:
          type: string
          format: uri
    Token:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        brand:
          type: string
        funding:
          type: string
        company:
          type: string
        last_four:
          type: string
        month:
          type: string
        year:
          type: string
        verification_url:
          type: string
          format: uri
          nullable: true
        created_at:
          type: string
          format: date-time
      additionalProperties: true
    WebhookInput:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
        http_method:
          type: string
          default: post
        shared_secret:
          type: string
        events:
          type: array
          description: Event types to subscribe to. Omit to receive all events.
          items:
            type: string
            enum:
              - payment_paid
              - payment_failed
              - payment_voided
              - payment_authorized
              - payment_captured
              - payment_refunded
              - payment_abandoned
              - payment_verified
              - card_auth_authenticated
              - card_auth_failed
    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        http_method:
          type: string
        events:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
      additionalProperties: true
    PayoutAccountInput:
      type: object
      required:
        - account_type
        - properties
      properties:
        account_type:
          type: string
          enum:
            - bank
            - wallet
        properties:
          type: object
          description: Public account information (e.g. IBAN for bank accounts).
          additionalProperties: true
        credentials:
          type: object
          description: Secret account information (e.g. private keys).
          additionalProperties: true
    PayoutAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
        account_type:
          type: string
          enum:
            - bank
            - wallet
        currency:
          type: string
        properties:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
      additionalProperties: true
    PayoutInput:
      type: object
      required:
        - amount
        - currency
        - payout_account_id
      properties:
        amount:
          type: integer
          description: Amount in the smallest currency unit.
        currency:
          type: string
          default: SAR
        payout_account_id:
          type: string
          format: uuid
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
    Payout:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        amount:
          type: integer
        amount_format:
          type: string
        currency:
          type: string
        payout_account_id:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
      additionalProperties: true
